body,html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(mich.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  margin: 20px auto;
  font-size: 3rem;
  color:rgb(183, 200, 214);

}
hr {
  color: #66bcd1;
  border: 3px solid #66bcd1;
  max-width: 65px;
  opacity: 1;
}
.btn {
  margin-bottom: 2rem;
  font-weight: 700;
  border-radius: 300px;
}
.btn-primary {
  background-color: #66bcd1;
  border-color: #66bcd1;
}
.btn-primary:hover {
  background-color:  #204e5a;
  border-color:  #204e5a;
  border-width: 4px;
}

.btn-main {
  padding:1rem 1rem;
}
.buffer {
  height: 17rem;
}


